// Breakpoints based on screen-sizes from Bootstrap.
$bp-xs: 692px;
$bp-small: 768px;
$bp-medium: 992px;
$bp-large: 1200px;

// Breakpoint to distinguish desktop from mobile/tablet (where navigation ui changes) */
$bp-desktop: 768px;
