<mat-card>
  <mat-card-header>
    <mat-card-title>Enroll New Employee</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form *ngIf="!errorLoadingDepartments" (ngSubmit)="onSubmit()" novalidate [formGroup]="employeeFormGroup">

      <div fxLayout="column" fxFlexAlign="center">
        <div fxFlex="55px"></div>
      </div>

      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px" fxLayoutGap.lt-sm="0px">
        <div fxFlex="5px"></div>
        <mat-form-field fxFlex="1 1 0">
          <mat-label>First Name</mat-label>
          <input matInput placeholder="First Name" autocomplete="off" formControlName="firstName">
          <mat-error *ngIf="employeeFormGroup.get('firstName')?.errors?.required">
            <span>
              First name is required.
            </span>
          </mat-error>
          <mat-error *ngIf="employeeFormGroup.get('firstName')?.errors?.maxlength">
            <span>
              Minimum 1 and maximum 60 characters are allowed.
            </span>
          </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="1 1 0">
          <mat-label>Last Name</mat-label>
          <input matInput placeholder="Last Name" autocomplete="off" formControlName="lastName">
          <mat-error *ngIf="employeeFormGroup.get('lastName')?.errors?.required">
            <span>
              Last name is required.
            </span>
          </mat-error>
          <mat-error *ngIf="employeeFormGroup.get('lastName')?.errors?.maxlength">
            <span>
              Minimum 1 and maximum 60 characters are allowed.
            </span>
          </mat-error>
        </mat-form-field>
        <div fxFlex="5px"></div>
      </div>
      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px" fxLayoutGap.lt-sm="0px">
        <div fxFlex="5px"></div>
        <mat-form-field fxFlex="1 1 0">
          <mat-label>Date Of Birth</mat-label>
          <input autocomplete="off" readonly [min]="minDate" [max]="maxDate" formControlName="dateOfBirth" matInput [matDatepicker]="picker"
            placeholder="Date of birth">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="employeeFormGroup.get('dateOfBirth')?.errors?.required">
            <span>
              Date of birth is required.
            </span>
          </mat-error>
          <mat-error *ngIf="employeeFormGroup.get('dateOfBirth')?.errors?.dateRangeError">
            <span>
              Employee's age should be between 18 and 60 as of today
            </span>
          </mat-error>
        </mat-form-field>
        <mat-form-field formGroupName='department' fxFlex="1 1 0">
          <mat-label>Department</mat-label>
          <mat-select autocomplete="off" formControlName="departmentId" placeholder="Department">
            <mat-option *ngFor="let department of departments" [value]=department.departmentId>{{department.departmentName}}</mat-option>
          </mat-select>
          <mat-error *ngIf="employeeFormGroup.get('department').get('departmentId')?.errors?.required">
            <span>
              Department is required.
            </span>
          </mat-error>
        </mat-form-field>
        <div fxFlex="5px"></div>
      </div>
      <div fxLayout="column" fxFlexAlign="center">
        <div fxFlex="5px"></div>
      </div>
      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px" fxLayoutGap.lt-sm="0px">
        <div fxFlex="5px"></div>
        <mat-radio-group formControlName="gender" fxLayout.lt-sm="column">
          <mat-radio-button mat-raised-button [value]="1" color="primary" fxFlex="1 1 85px" fxFlex.lt-sm="1 1 0">
            Male
          </mat-radio-button>
          <div fxLayout="column" fxFlexAlign="center" fxHide.gt-sm="true">
              <div fxFlex="10px"></div>
            </div>
          <mat-radio-button mat-raised-button [value]="2" color="primary" fxFlex="1 1 85px" fxFlex.lt-sm="1 1 0">
            Female
          </mat-radio-button>

        </mat-radio-group>
        <div fxFlex="5px"></div>
      </div>
      <div fxLayout="column" fxFlexAlign="center">
        <div fxFlex="15px" fxFlex.lt-sm="5px"></div>
      </div>
      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px" fxLayoutGap.lt-sm="5px">
        <div fxFlex="15px"></div>
        <button mat-raised-button [disabled]="!employeeFormGroup.valid" (click)="onSubmit()" color="primary">Create</button>
        <button mat-raised-button [disabled]="!employeeFormGroup.touched" (click)="reset()" color="primary">Reset</button>

        <div fxFlex="5px"></div>
      </div>
      <div *ngIf="errorSavingEmployee" fxLayout="row" fxLayoutAlign="center center" fxLayout.lt-sm="column">
          <mat-error class="employee-error">
              {{errorMessageSavingEmployee}}
          </mat-error>
      </div>
    </form>
    <div fxLayout="column" fxFlexAlign="center">
      <div fxFlex="10px"></div>
    </div>
    <div *ngIf="errorLoadingDepartments" fxLayout="row" fxLayoutAlign="center center" fxLayout.lt-sm="column">
      <mat-error class="employee-error">
        {{errorMessageLoadingDepartments}}
      </mat-error>
    </div>

  </mat-card-content>

</mat-card>