
.logo{
    width: 50px;
    height: 40px;
    margin-top: 5px
}

.app-container {
    margin-top: 1%;
    margin-left: 12%;
    margin-right: 12%;
	margin-bottom: 1%;
}




div {
    overflow: inherit;
}

.mat-sidenav-container{
  background-color: white;
  min-height: 93vh !important;
}

a{
    text-decoration: none;
    font-size: 75%;
    white-space: normal;
}

button{
   
    min-width: min-content;
}

.example-icon {
    padding: 0 14px;
  }

.example-spacer {
    margin-left: 5%;
}

.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;

  }

  .mainc { 
    display: flex; 
  }
  
  
